.tovars {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1920 / 1080;
  margin-bottom: 200px;

  .paragraph {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    width: 30vw;
    font-family: 'Cormorant';
    font-size: 36px;
    display: flex;
    flex-direction: column;

    .food {
      color: #ffd5c3;
    }

    .resources {
      color: #cbffda;
    }

    .pets {
      color: #bedefb;
    }
  }

  .additional {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #121212;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-family: 'Rubik Mono One';
      font-size: 85px;
      word-spacing: -20px;
      opacity: max(0.5, calc(1 - var(--scroll-position)));
      letter-spacing: calc(var(--scroll-position) * 2px);
    }

    p {
      font-family: 'Cormorant';
      font-feature-settings: 'pnum' on, 'lnum' on;
      font-size: 18px;
    }
  }
}